<!DOCTYPE html>

<html>
<head>
    <title>Gimme templates</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/holysmokes.jpg" alt="Holy smokes." srcset="">
        <p>This site was created by Geoffrey Salmon. It used data from mapbox.com and darkskies API.</p>
    </div>
    {{>footer}}
</body>
</html>